langchain
langchain-openai
dotenv
langchain-google-genai
langchain-anthropic
langchain-ollama
langchain-groq
streamlit 
langchain-community  
langgraph
langchain_huggingface
pypdf
beautifulsoup4
wikipedia
langchain-text-splitters
PyMuPDF
pyngrok
langchain-core
langchain-chroma
pydantic
fastapi[standard]
langserve